html {
  height: 100%;
}

body {
  background-color: white;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  margin: 0;
}

body.noinput {
  padding: 2.5em 2em;
  width: 100%;
  width: calc(100% - 4em);
  height: 100%;
  height: calc(100% - 5em);
}

a {
  color: #0070b0;
  text-decoration: none;
}

a:hover {
  color: #0040b0;
  text-decoration: underline;
}

a.disabled_link {
  /* Allow pointer events, so that we can show a tooltip on hover */
  cursor: not-allowed;
  color: Gray;
}

.button {
  background-color:  #ffc000;
  width: 50%;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 1em 0 1em 0;
}

.button:active {
  background-color:  #ffc000;
}

.button:hover {
  background-color:  #ffc000;
}

.button[disabled] {
  background-color: #888;
  color: #ccc;
}

details {
  margin: 1em 0 1em 0;
}

details div {
  margin: 0 0 1.2em 0;
}

h1 {
  border-bottom: 1px solid #ccc;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.0em;
  font-weight: 600;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.2em 0;
}

input[type=number],
input[type=text] {
  font-family: Roboto, sans-serif;
  font-size: 0.9em;
  padding: 1px 2px 3px 6px;
  height: 19px;
}

label, .label {
  color: #444;
  /* font-family: 'Roboto Condensed'; */
  font-weight: 400;
  width: 18vw;
  text-align: left;
  font-size: 1.05rem;
}

input[type=checkbox] + label {
  width: auto;
}

p {
  color: #444;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.6em;
  margin: 0.5em 0;
}

p#compiled_links {
  border-bottom: 1px solid #eee;
  margin: 0 0 1.5em 0;
  padding: 0 0 0.5em 0;
}

p.links {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin: 1.5em 0 1.5em 0;
  padding: 0.5em 0 0.5em 0;
}

select {
  font-family: sans-serif;
  height: 3em;
  min-width: 456px;
  -webkit-appearance: menulist-button;
}

strong {
  font-weight: 600;
}

summary {
  cursor: pointer;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  outline: none;
  margin: 0 0 1em 0;
}

#assetList, #customAsset div {
  margin: 0 0 1.2em 0;
  /* Otherwise, this causes horizontal scrolling on narrow screens */
  max-width: 80%;
}

#container {
  margin: 10px auto 0 auto;
}

#container.noinput {
  /* noinput mode: use all available space */
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#container.noinput .input {
  /* noinput mode: hide all input fields */
  display: none;
}

#container.noinput h1 {
  /* noinput mode: restrict h1 to 50px tall, center it */
  height: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#container.noinput #videoContainer {
  /* noinput mode: use all available space,
     but also constrain to the screen size */
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  height: calc(100% - 50px);
  margin: 0;
  padding: 0;
}

body.noinput #logSection #log {
  /* noinput mode: if displayed, put the logs higher up on screen, over the top
     of the video. */
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  width: auto;
  height: calc(100% - 30px);
}

#customAsset {
  display: none;
}

#customAsset input {
  /* Otherwise, this becomes a two lines tall on narrow screens */
  height: 1.4em;
}

#errorDisplay {
  background-color: #d84a38;
  margin: 0;
  padding: 1em;
  line-height: 2em;
  text-align: center;
  width: 100%;
  display: none;
}

#errorDisplayLink {
  color: white;
}

#errorDisplayCloseButton {
  background-color: #d84a38;
  color: white;
  position: relative;
  padding: 0 0;
  top: 0em;
  right: 0.5em;
  float: right;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#progressDiv, #offlineNameDiv {
  display: none;
}

#loadButton {
  /* margin: 0 1em 1em 0; */
}

#logSection {
  display: none;
}

#log {
  background-color: #f4f4f4;
  border: 1px solid #aaa;
  color: #000;
  font-family: monospace;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
}

#log div {
  border-bottom: 1px solid #ddd;
  line-height: 1.4em;
  margin: 0;
  padding: 0 0.5em;
  width: 100%;
}

#log div span {
  padding-right: 0.5em;
  white-space: pre-wrap;
}

#videoContainer {
  background-color: transparent;
}

#video {
  /* height and margin needed in fullscreen mode */
  width: 100%;
  height: 100%;
  margin: auto;
}

.errorLog {
  background-color: #fee;
  color: #f00;
}

.warnLog {
  background-color: #ffc;
}

.infoLog {
  background-color: #eff;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.overlay-parent {
  /* Makes this a positioned ancestor of .overlay */
  position: relative;
}

.overlay {
  /* Allows this to be positioned relative to a containing .overlay-parent */
  position: absolute;
}

.for-screen-readers {
  /* Hide the content from sighted users, but not screen readers */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 550px) {
  .button {
    margin: 0 0.6em 0.8em 0;
    padding: 9px 0 10px 0;
  }

  .button:active {
    background-color: darkRed;
  }

  h1 {
    font-size: 1.4em;
  }

  input[type=number],
  input[type=text] {
    font-size: 0.8em;
  }

  label, .label {
    font-weight: 500;
    margin: 0 0 0.4em 0;
  }

  select {
    display: block;
    margin: 0 1em 0.3em 0;
  }

  summary {
    font-weight: 600;
  }
}

@media screen and (max-width: 400px) {
  .button {
    font-size: 0.8em;
    margin: 0 0.4em 1em 0;
    padding: 5px 0 7px 0;
  }
}

.input {
	text-align: center;
}

/* .input div {
	max-width: 640px;
	margin: 10px;
	display: inline-block
} */

.video {
  padding: 2px;
  max-width: 640px;
  margin: 10px auto;
}

.videoui{
  background-color: #000;
}

.resourse {
	max-width: 640px;
	margin: auto;
}

.resourse input {
  height: 35px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.resourse select {
	min-width: 457px;
	font-size: 13px;
}

.footer {
    height: 30px;
    margin-top: 15px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(33, 33, 33);
}

.footer-text{
  font-size: 0.85rem;
}

.header {
	  background: rgb(33, 33, 33);
    color: white;
    border: 0px;
    border-radius: 0;
    position: relative;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.header-title{
 font-size: 1.25rem;     
}

.header img{
	margin: 11px;
}

.sub-header {
    background: #fff;
    color: #404040;
    border: 0;
    font-weight: 400;
    border-radius: 0;
    margin-top: -40px;
    margin-left: -10px;
    height: 41px;
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
    top: 0;
    padding: 0px 15px;
    z-index: 2000;
}

.title {
  font-size: 1.25rem;
  font-weight: 900;
  text-align: left;
  padding: 10px 0px;
}

.form-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
}


